@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  text-align: center;
  line-height: 1.1;
  color: #FFFFFF;
}

#summ_stat_1 {
  font-size: 28px;
  color: #FFFFFF
}

body {
  background-color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFFFFF;
}

p {
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-size: 14px;
  color: #FFFFFF;
}

.shiny-plot-output {
}


.navbar.navbar-default.navbar-static-top {
  background-color: #000000;
  color: #FFFFFF;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #FFFFFF;
}

.well {
  background-color: #000000;
}

.shiny-text-output {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

label {
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.shiny-html-output:nth-child(even) {
  background-color: #f5f5f5;
}
