@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  color: #000000;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  color: #000000;
}

#summ_stat_1 {
  font-size: 20px;
  color: #000000;
}

.shiny-plot-output {
}


.navbar {
  background-color: #000000;
  color: #FFFFFF;
}

.navbar-brand {
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

li:hover {
  color: #000000;
  background-color: #FFFFFF;
}

li {
  font-size: 16px;
}

a {
  color: #FFFFFF;
}

.well {
  background-color: #000000;
}

.shiny-text-output {
  text-align: center;
}

label {
  color: #FFFFFF;
  font-size: 13px;
}

#ranks {
  display: flex;
  justify-content: space-around;
}
