@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.1;
  color: #FFFFFF;
}

h2 {

}

p {
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-size: 14px;
  color: #FFFFFF;
}

.navbar.navbar-default.navbar-static-top {
  background-color: #000000;
  color: #FFFFFF;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #FFFFFF;
}

.well {
  background-color: #000000;
}

.shiny-text-output {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

label {
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.shiny-html-output:nth-child(even) {
  background-color: #f5f5f5;
}
